<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="url" value="http://punwc021/PUNWC021-GRAM-development/"/>
		<add key="database" value="PUNWC021-GRAM-development"/>
		<add key="user" value="admin"/>
		<add key="password" value="innovator"/>
		<add key="userSAP" value="parab-m"/>
		<add key="passwordSAP" value="Allygram@2019"/>
	</appSettings>
</configuration>