<?xml version="1.0" encoding="utf-8"?>
<oauth>
	<client id="ConversionServer">
		<secret type="JwtBearerAssertionClientSecret">
			<certificate filePath="App_Data/Certificates/ConversionServer.pfx" password="innovator" />
			<tokenLifetime assertionTokenLifetime="300" />
		</secret>
	</client>
	<tokenValidation>
		<cache enabled="true" duration="300" />
		<certificate filePath="App_Data/Certificates/OAuthServer.cer" />
	</tokenValidation>
</oauth>