<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Aras.IntegrationTests.Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Aras.IntegrationTests.Framework.Properties.Settings>
      <setting name="admin_login_name" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="admin_pwd" serializeAs="String">
        <value>innovator</value>
      </setting>
      <setting name="sql_server" serializeAs="String">
        <value>(local)</value>
      </setting>
      <setting name="innovator_server_url" serializeAs="String">
        <value>http://localhost/master</value>
      </setting>
      <setting name="integrated_security" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="dba_user" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="dba_pwd" serializeAs="String">
        <value>don'tuseme</value>
      </setting>
      <setting name="do_restore_db_after" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value>master</value>
      </setting>
      <setting name="database_name" serializeAs="String">
        <value>master</value>
      </setting>
      <setting name="output_path" serializeAs="String">
        <value>.</value>
      </setting>
    </Aras.IntegrationTests.Framework.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="IOM" publicKeyToken="524d880b05474146" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.15974" newVersion="12.0.0.15974" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aras.Net" publicKeyToken="524d880b05474146" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.15974" newVersion="12.0.0.15974" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
