.aras-grid-head tr td:nth-child(1) span.aras-grid-head-cell-label::before {
	background-image: url('../../../Solutions/RE/Images/ReqDocument.svg?reqDoc=1');
	background-size: 20px 20px;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 3px;
	background-repeat: no-repeat;
	content: "";
}

.aras-grid-head tr td:nth-child(2) span.aras-grid-head-cell-label {
	margin-left: 3px;
	font-size: 9pt;
	top: 3px;
}

.aras-grid-head-cell {
	text-align: left;
}

.aras-grid-row:nth-child(odd):not(:hover):not(.aras-grid-row_selected) {
	background-color: #fff;
}

.aras-grid-row-cell {
	border-width: 0;
	padding: 0;
}

.aras-lockstate-icon {
	display: inline-block;
	max-width: 16px;
	max-height: 16px;
	margin-right: 0;
	margin-bottom: -3px;
}

.aras-form-icon {
	display: inline-block;
	max-width: 20px;
	max-height: 20px;
	margin-right: 5px;
	margin-bottom: -5px;
}

table tr.aras-grid-row_selected.aras-grid-row, .aras-grid-row_selected.aras-grid-row, .aras-grid-row:hover,
.aras-grid-row.aras-grid-row_selected:hover, .aras-grid-row.aras-grid-row_selected.aras-grid-row_hovered {
	background-color: #dde7f5;
}

.aras-grid-active-cell {
	border: 0px;
}

.aras-treegrid-cell-container, .aras-grid-viewport {
	margin-left: 5px;
}

.aras-grid-head-cell {
	text-align: left;
	border: none !important;
	background: none;
	padding: 0px;
}

.aras-grid-head-wrapper {
	border: none;
	border-bottom: 1px solid #CCCCCC;
}

#lockStatusSplitter
{
	width: 26px;
	position: absolute;
	left: 0px;
	z-index: 1;
}

.aras-grid-body {
	overflow-x: hidden;
}

.aras-tree-chaptertree {
	display: none;
}

.aras-grid-header {
	padding-left: 30px;
	height: 30px;
}

.aras-list li, .aras-grid-viewport td {
	font-size: 9pt;
}

span.aras-grid-row-levelpad {
	width: 20px;
}

.aras-grid-row-cell .aras-treegrid-cell-container span.aras-grid-row-levelpad.aras-grid-row-levelpad-filled:first-of-type {
	margin-left: -21px !important;
}

#lockStatusSplitter, tr.aras-grid-row td.aras-grid-row-cell:first-of-type {
	background-color: rgb(246, 237, 238) !important;
	text-align: center;
}

.aras-grid-viewport {
	z-index: 9999;
}

.aras-grid-body-boundary {
	overflow-x: hidden;
	background-color: #ffffff;
}

.aras-grid-head-cell:hover {
	background-color: transparent;
}

.aras-grid-head-cell:not(.aras-grid-head-cell_selected):hover .aras-grid-head-cell-sort {
	display: none;
}

#chapterTree .aras-grid-row {
	border: none;
}