@import '../../../Modules/aras.innovator.TDF/Scripts/Aras/Client/Controls/TechDoc/themes/Tree.css';

.ArasBlockXmlSchemaElementDocument .dijitTreeIcon {
	background-image: url("../../../Solutions/RE/Images/Requirement.svg?req=1");
}

.TitleRow {
	border-bottom-color: gray;
	padding-left: 20px !important;
}

.dijitTreeLabel {
	outline: none;
}